.cardx {
  margin: auto;
  width: 150px;
  text-align:center;
  border: 2px solid rgb(37, 68, 204);
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardx img{
  width: 150px;
  height: 208px;
  margin: auto;
  object-fit: cover;
}

.myNavLink {
  text-decoration: none;
  color:rgb(132, 122, 10);
  font-size : 30px;
}

.myNavLink:hover{
  color:rgb(29, 34, 5)
}

.myLink {
  text-decoration: none;
  font-weight: 700;
  color:rgb(52, 55, 49)
}

.icon-frame {
  border: 1px solid #cb10dc; /* Adjust the border properties as desired */
  padding: 1px; /* Adjust the padding as desired */
  margin-bottom: 1px;
  /* Add any additional styling for the frame */
}

.seeMoreCourse{
  background-color: rgb(0, 0, 0);
  border-style: groove;
}
.remove-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.remove-button {
  padding: 5px 10px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.course-card {
  background-color: #fef3cd;
  border: 1px solid #ffd966;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-card .card-header {
  background-color: #fff0c3;
  border-bottom: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
}

.course-card .card-body {
  padding: 15px;
}

.course-card .card-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.course-card .card-text h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.course-card .btn-outline-secondary {
  background-color: #ffffff;
  border-color: #ffd966;
  color: #937312;
  padding: 5px 15px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.course-card .btn-outline-secondary:hover {
  background-color: #ffd966;
  color: #000000;
}

.card-link {
  text-decoration: none;
  color: inherit;
}
